<div class="resetDiv container-fluid ">
  <div *ngIf="error" class="errordiv alert alert-danger" role="alert">
    {{error}}
</div>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="resetDivpassword">
            Password <br>
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16">
                <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z"/>
                <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
              </svg>
        </div>
      <div class="resetDivAccount">
          Please Enter Your Account Details
      </div>

      <div class="my-3">
        <input  type="email" class="form-control" matInput formControlName="email" name="email"  placeholder="Email" required />
        <div class="mt-1">
            <mat-error
              *ngIf="
                userForm.get('email')?.hasError('required') &&
                userForm.get('email')?.touched
              "
            >
              Email is required.
            </mat-error>
            <mat-error
              *ngIf="
                userForm.get('email')?.hasError('email') &&
                userForm.get('email')?.touched
              "
            >
              Please enter a valid email address.
            </mat-error>
          </div>
      </div>
      <!-- <div class="my-3">
          <input  type="password" class="form-control" matInput formControlName="password" name="password" placeholder="Old Password" required="" />
          <div class="mt-1">
            <mat-error
              *ngIf="
                userForm.get('password')?.hasError('required') &&
                userForm.get('password')?.touched
              "
            >
              Password is required.
            </mat-error>
            <mat-error
              *ngIf="
                userForm.get('password')?.hasError('password') &&
                userForm.get('password')?.touched
              "
            >
              Please enter a valid Password.
            </mat-error>
          </div>
        </div> -->
      <div class="my-3">
        <input  type="password" class="form-control" matInput formControlName="newPassword" name="newPassword" placeholder="New Password" required="" />
        <div class="mt-1">
            <mat-error
              *ngIf="
                userForm.get('newPassword')?.hasError('required') &&
                userForm.get('newPassword')?.touched
              "
            >
              New Password is required.
            </mat-error>
            <mat-error
              *ngIf="
                userForm.get('newPassword')?.hasError('newPassword') &&
                userForm.get('newPassword')?.touched
              "
            >
              Please enter a valid New Password.
            </mat-error>
          </div>
    </div>
      <div class="">
          <button class="btn btn-primary" type="submit" [disabled]="userForm.invalid">
              Change Password
          </button>
          <button class="btn btn-danger mx-2" type="button" (click)="onDelete()">
              Discard
          </button>
      </div>
    </form>
  </div>
  