<div class="d-flex justify-content-center responsive-container">
  <div class="container-fluid col-12 col-md-10 col-lg-8 col-xl-6">
    <h1 class="my-3 px-3 bg-light border-light rounded-2">
      User Personal Details
    </h1>
    <div class="card">
      <div class="row px-2 py-2">
        <div class="col-12 col-md-4 text-center mb-3 mb-md-0" style="padding-top: 24px">
          <img
            [src]="user && user.image ? getImageUrl(user.image) : '../../assets/profile.jpg'"
            alt="Profile Picture"
            class="profile-avatar"
          />
        </div>
        <div class="col-12 col-md-8">
          <table>
            <tr>
              <td>Name :</td>
              <td>
                {{ user ? user.name : "User name" }}
              </td>
            </tr>
            <tr>
              <td>Email Id :</td>
              <td>
                {{ user ? user.email : "User email" }}
              </td>
            </tr>
            <tr>
              <td>Phone Number :</td>
              <td>
                {{ user ? user.phone : "User phone" }}
              </td>
            </tr>
            <tr>
              <td>Location :</td>
              <td>
                {{ user ? user.location : "User location" }}
              </td>
            </tr>
            <tr>
              <td>
                <button
                  class="btn btn-primary"
                  routerLink="/profile-edit/{{ user ? user._id : '' }}"
                  [queryParams]="{ EditMode: true }"
                >
                  Edit
                </button>
              </td>
              <td></td>
            </tr>
          </table>
        </div>
        <div class="col-12 my-3 text-center">
          <div class="d-flex flex-column flex-sm-row justify-content-center align-items-center gap-2">
            <button
              class="btn btn-danger w-100 w-sm-auto"
              style="min-width: 147px;"
              routerLink="/remove-account/{{ user ? user._id : '' }}"
            >
              Remove Account
            </button>
            <button
              class="btn btn-success w-100 w-sm-auto" 
              style="min-width: 147px; font-size: 15px;"
              routerLink="/change-password/{{ user ? user._id : '' }}"
            >
              Change Password
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
