<h1 class="my-3 mx-2 px-3 bg-light border-light rounded-2">Category</h1>
<div class="my-3" style="cursor: pointer;">
    <mat-grid-list cols="5" rowHeight="5:5" style="cursor: pointer;">
        <mat-grid-tile routerLink="/products" style="cursor: pointer;" >

            <img class="cat catimage" src="../../assets/women.webp" alt=""
                >
            <div class="catcontent" routerLink="/products"> Women's Fashion</div>

        </mat-grid-tile>
        <mat-grid-tile routerLink="/products" style="cursor: pointer;">

            <img class="cat catimage" src="../../assets/men.webp" alt="" >
            <div class="catcontent" routerLink="/products">Men's Fashion</div>

        </mat-grid-tile>
        <mat-grid-tile routerLink="/products" style="cursor: pointer;">

            <img class="cat catimage " src="../../assets/kid.jpg" alt="" >
            <div class="catcontent" routerLink="/products">Kid's Fashion</div>

        </mat-grid-tile>
        <mat-grid-tile routerLink="/products" style="cursor: pointer;">

                <img class="cat catimage " src="../../assets/beauty.jpg" alt="" >
                <div class="catcontent" routerLink="/products">Beauty & Luxury beauty</div>
           
        </mat-grid-tile>
        <mat-grid-tile routerLink="/products" style="cursor: pointer;">
           
            <img class="cat catimage " src="../../assets/kitchen.jpg" alt="" >
            <div class="catcontent" routerLink="/products">Home & Kitchen</div>
       
        </mat-grid-tile>
    </mat-grid-list>
</div>

<div class="my-3" style="cursor: pointer;">
    <mat-grid-list cols="5" rowHeight="5:5">
        <mat-grid-tile routerLink="/products" style="cursor: pointer;">

            <img class="cat catimage" src="../../assets/grocery.jpg" alt=""> 
            <div class="catcontent" routerLink="/products">Grocery & Gourmet</div>

        </mat-grid-tile>
        <mat-grid-tile routerLink="/products" style="cursor: pointer;">

            <img class="cat catimage" src="../../assets/luggage.jpg" alt="" >
            <div class="catcontent" routerLink="/products">Bags, Wallets & luggage</div>

        </mat-grid-tile>
        <mat-grid-tile routerLink="/products" style="cursor: pointer;">

            <img class="cat catimage " src="../../assets/toy.jpg" alt="" >
            <div class="catcontent" routerLink="/products">Toy & Games</div>

        </mat-grid-tile>
        <mat-grid-tile routerLink="/products" style="cursor: pointer;">

                <img class="cat catimage " src="../../assets/Baby Product-600x315.jpg" alt="" >
                <div class="catcontent" routerLink="/products">Baby Products</div>
           
        </mat-grid-tile>
        <mat-grid-tile routerLink="/products" style="cursor: pointer;">
           
            <img class="cat catimage " src="../../assets/sports.jpg" alt="" >
            <div class="catcontent" routerLink="/products">Sports & Fitness</div>
       
        </mat-grid-tile>
    </mat-grid-list>
</div>

<div class="my-3" style="cursor: pointer;">
    <mat-grid-list cols="5" rowHeight="5:5">
        <mat-grid-tile routerLink="/products" style="cursor: pointer;">

            <img class="cat catimage" src="../../assets/furniture.jpg" alt=""
                >
            <div class="catcontent" routerLink="/products">Furniture</div>

        </mat-grid-tile>
        <mat-grid-tile routerLink="/products" style="cursor: pointer;">

            <img class="cat catimage" src="../../assets/tvs.jpg" alt="" >
            <div class="catcontent" routerLink="/products">TVs, Appliances</div>

        </mat-grid-tile>
        <mat-grid-tile routerLink="/products" style="cursor: pointer;">

            <img class="cat catimage " src="../../assets/computer.jpg" alt="" >
            <div class="catcontent" routerLink="/products">Computer & Accessories</div>

        </mat-grid-tile>
        <mat-grid-tile routerLink="/products" style="cursor: pointer;">

                <img class="cat catimage " src="../../assets/mobile_accessories.jpg" alt="" >
                <div class="catcontent" routerLink="/products">Mobile & Accessories</div>
           
        </mat-grid-tile>
        <mat-grid-tile routerLink="/products" style="cursor: pointer;">
           
            <img class="cat catimage " src="../../assets/echo.jpg" alt="" >
            <div class="catcontent" routerLink="/products">Echo & fire TV</div>
       
        </mat-grid-tile>
    </mat-grid-list>
</div>

<div class="my-3">
    <mat-grid-list cols="5" rowHeight="5:5">
        <mat-grid-tile routerLink="/products" style="cursor: pointer;">

            <img class="cat catimage" src="../../assets/books.jpg" alt=""
                >
            <div class="catcontent" >Books</div>

        </mat-grid-tile>
        <mat-grid-tile routerLink="/products" style="cursor: pointer;">

            <img class="cat catimage" src="../../assets/ebook.jpg" alt="" >
            <div class="catcontent" routerLink="/products">Ebooks</div>

        </mat-grid-tile>
        <mat-grid-tile routerLink="/products" style="cursor: pointer;">

            <img class="cat catimage " src="../../assets/video_games.jpg" alt="" >
            <div class="catcontent" routerLink="/products">Video Games</div>

        </mat-grid-tile>
        <mat-grid-tile routerLink="/products" style="cursor: pointer;">

                <img class="cat catimage " src="../../assets/gift.jpg" alt="" >
                <div class="catcontent" routerLink="/products">Gift Cared</div>
           
        </mat-grid-tile>
        <mat-grid-tile  routerLink="/products" style="cursor: pointer;">
           
            <img class="cat catimage " src="../../assets/echo.jpg" alt="" >
            <div class="catcontent" routerLink="/products">Echo & fire TV</div>
       
        </mat-grid-tile>
    </mat-grid-list>
</div>