.cat {
    width: 80%;
    height: 85%;
    border-radius: 8px;
}

.catimage {
    width: 175px;
    height: 185px;
    border-radius: 8px
}

.category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.category-name {
    margin-top: 8px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: #333;
}