<h1 class="my-3 mx-2 px-3 bg-light border-light rounded-2">Category</h1>
<div class="my-3" style="cursor: pointer;">
    <mat-grid-list cols="5" rowHeight="5:5" style="cursor: pointer;">
        <mat-grid-tile style="cursor: pointer;" >

            <div class="category-item">
                <img routerLink="/products" class="cat catimage" src="../../assets/women.webp" alt="">
                <p class="category-name">Women's Fashion</p>
            </div>

        </mat-grid-tile>
        <mat-grid-tile style="cursor: pointer;">

            <div class="category-item">
                <img routerLink="/products" class="cat catimage" src="../../assets/men.webp" alt="">
                <p class="category-name">Men's Fashion</p>
            </div>

        </mat-grid-tile>
        <mat-grid-tile style="cursor: pointer;">

            <div class="category-item">
                <img routerLink="/products" class="cat catimage " src="../../assets/kid.jpg" alt="">
                <p class="category-name">Kids' Fashion</p>
            </div>

        </mat-grid-tile>
        <mat-grid-tile style="cursor: pointer;">

            <div class="category-item">
                <img routerLink="/products" class="cat catimage " src="../../assets/beauty.jpg" alt="">
                <p class="category-name">Beauty & Personal Care</p>
            </div>
           
        </mat-grid-tile>
        <mat-grid-tile style="cursor: pointer;">
           
            <div class="category-item">
                <img routerLink="/products" class="cat catimage " src="../../assets/kitchen.jpg" alt="">
                <p class="category-name">Kitchen & Dining</p>
            </div>
       
        </mat-grid-tile>
    </mat-grid-list>
</div>
<hr>
<div class="my-3" style="cursor: pointer;">
    <mat-grid-list cols="5" rowHeight="5:5">
        <mat-grid-tile style="cursor: pointer;">

            <div class="category-item">
                <img routerLink="/products" class="cat catimage" src="../../assets/grocery.jpg" alt="">
                <p class="category-name">Grocery</p>
            </div>

        </mat-grid-tile>
        <mat-grid-tile style="cursor: pointer;">

            <div class="category-item">
                <img routerLink="/products" class="cat catimage" src="../../assets/luggage.jpg" alt="">
                <p class="category-name">Luggage & Travel</p>
            </div>

        </mat-grid-tile>
        <mat-grid-tile style="cursor: pointer;">

            <div class="category-item">
                <img routerLink="/products" class="cat catimage " src="../../assets/toy.jpg" alt="">
                <p class="category-name">Toys & Games</p>
            </div>

        </mat-grid-tile>
        <mat-grid-tile style="cursor: pointer;">

            <div class="category-item">
                <img routerLink="/products" class="cat catimage " src="../../assets/Baby Product-600x315.jpg" alt="">
                <p class="category-name">Baby Products</p>
            </div>
           
        </mat-grid-tile>
        <mat-grid-tile style="cursor: pointer;">
           
            <div class="category-item">
                <img routerLink="/products" class="cat catimage " src="../../assets/sports.jpg" alt="">
                <p class="category-name">Sports & Outdoors</p>
            </div>
       
        </mat-grid-tile>
    </mat-grid-list>
</div>
<hr>
<div class="my-3" style="cursor: pointer;">
    <mat-grid-list cols="5" rowHeight="5:5">
        <mat-grid-tile style="cursor: pointer;">

            <div class="category-item">
                <img routerLink="/products" class="cat catimage" src="../../assets/furniture.jpg" alt="">
                <p class="category-name">Furniture</p>
            </div>

        </mat-grid-tile>
        <mat-grid-tile style="cursor: pointer;">

            <div class="category-item">
                <img routerLink="/products" class="cat catimage" src="../../assets/tvs.jpg" alt="">
                <p class="category-name">TVs & Electronics</p>
            </div>

        </mat-grid-tile>
        <mat-grid-tile style="cursor: pointer;">

            <div class="category-item">
                <img routerLink="/products" class="cat catimage " src="../../assets/computer.jpg" alt="">
                <p class="category-name">Computers & Laptops</p>
            </div>

        </mat-grid-tile>
        <mat-grid-tile style="cursor: pointer;">

            <div class="category-item">
                <img routerLink="/products" class="cat catimage " src="../../assets/mobile_accessories.jpg" alt="">
                <p class="category-name">Mobile Accessories</p>
            </div>
           
        </mat-grid-tile>
        <mat-grid-tile style="cursor: pointer;">
           
            <div class="category-item">
                <img routerLink="/products" class="cat catimage " src="../../assets/echo.jpg" alt="">
                <p class="category-name">Smart Home & Electronics</p>
            </div>
       
        </mat-grid-tile>
    </mat-grid-list>
</div>
<hr>
<div class="my-3">
    <mat-grid-list cols="5" rowHeight="5:5">
        <mat-grid-tile style="cursor: pointer;">

            <div class="category-item">
                <img routerLink="/products" class="cat catimage" src="../../assets/books.jpg" alt="">
                <p class="category-name">Books</p>
            </div>

        </mat-grid-tile>
        <mat-grid-tile style="cursor: pointer;">

            <div class="category-item">
                <img routerLink="/products" class="cat catimage" src="../../assets/ebook.jpg" alt="">
                <p class="category-name">E-Books</p>
            </div>

        </mat-grid-tile>
        <mat-grid-tile style="cursor: pointer;">

            <div class="category-item">
                <img routerLink="/products" class="cat catimage " src="../../assets/video_games.jpg" alt="">
                <p class="category-name">Video Games</p>
            </div>

        </mat-grid-tile>
        <mat-grid-tile style="cursor: pointer;">

            <div class="category-item">
                <img routerLink="/products" class="cat catimage " src="../../assets/gift.jpg" alt="">
                <p class="category-name">Gifts</p>
            </div>
           
        </mat-grid-tile>
        <mat-grid-tile style="cursor: pointer;">
           
            <div class="category-item">
                <img routerLink="/products" class="cat catimage " src="../../assets/echo.jpg" alt="">
                <p class="category-name">Smart Devices</p>
            </div>
       
        </mat-grid-tile>
    </mat-grid-list>
</div>