/* styles.css */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Optional: Improve overall font and spacing */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* order.component.css */
.order-id-placeholder {
  width: 100px;
  height: 20px;
  background-color: lightgray;
}

.order-details-placeholder {
  width: 100%;
  height: 20px;
  margin-top: 8px;
  margin-bottom: 50px;
}

.profile-avatar {
  width: 100%;
  max-width: 200px;
  height: auto;
  aspect-ratio: 1;
  background-color: lightgray;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.proimage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

/* Responsive styles */
@media (max-width: 768px) {
  .profile-avatar {
    max-width: 150px;
  }
}

@media (max-width: 480px) {
  .profile-avatar {
    max-width: 120px;
  }
}
