<div>
  <div class="container my-4" style="    
  display: flex;
  border-bottom: 2px solid;
  font-size: 18px;">
    <div class="px-4"> <a class="order" >Order</a> </div>
    <div> <a class="cancel" >Cancellation</a> </div>
  </div>
  <div>
    <h1 class="my-3 mx-2 px-3 bg-light border-light  rounded-2 ">Your Orders</h1>
   <!-- <input class="form-control" type="text" [(ngModel)]="itemName" 
   placeholder="Item Name">-->
  </div>
  <div class="d-flex my-3 mx-2" >
    <input class="form-control" #searchInput style="width: 20%;" type="text" [(ngModel)]="searchQuery" (input)="search()" placeholder="Search">
    <button class="btn btn-success mx-1" (click)="toggleSearch()" >Search</button> 
    <!-- searchInput.value -->
  </div>
  
<div *ngIf="searchVisible" class="container-fluid my-3">
    <table class="table text-center">
      <tr>
        <th>Order</th>
        <th>Item Name</th>
        <th>Quantity</th>
        <th>Product Code</th>
        <th>Order Date</th>
        <th>Price</th>
        <th>Order Cancel</th>
      </tr>
      <tr *ngFor="let  order of  orderList ; let i = index">
        <td>
          {{ i+1 }}
        </td>
        <td>
          {{ order.itemName}}
        </td>
        <td>
          {{ order.quantity}}
        </td>
        <td>
          {{ order.productCode}}
        </td>
        <td>
          {{ order.orderDate}}
        </td>
        <td>
          {{ order.price}}
        </td> <td>
          <button class="btn btn-danger" routerLink="/cancellation/{{order._id}}">Order Cancel</button>
        </td>
      </tr>
    </table>

  </div>
</div>