<div>
  <h1 class="my-3 mx-2 px-3 bg-light border-light rounded-2">Product</h1>
  <div class="searchbox py-1">
    <table class="table searchtable">
      <tr>
        <td>
          <input class="search" type="text" placeholder="Search" [(ngModel)]="searchTerm" (input)="onSearchChange()" />
        </td>
        <td>
          <mat-form-field style="margin-right: -127px">
            <mat-label>Filter</mat-label>
            <mat-select [(ngModel)]="selectedFilter" (selectionChange)="onFilterChange()">
              <mat-option value="">All Products</mat-option>
              <mat-option value="100-200">100-200</mat-option>
              <mat-option value="299-499">299-499</mat-option>
              <mat-option value="599-1999">599-1999</mat-option>
              <mat-option value="2999-3599">2999-3599</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
    </table>
  </div>
  <div class="pro">
    <mat-grid-list cols="5" rowHeight="5:7">
      <mat-grid-tile *ngFor="let product of filteredProducts">
        <mat-card>
          <mat-card-content>
            <img class="proimage" [src]="'../../assets/' + product.image" [alt]="product.itemName" />
          </mat-card-content>
          <div class="prodiv">
            <p class="tshirt">{{ product.itemName }}</p>
            <p class="ptshirt">
              <sup>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-currency-rupee"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z"
                  />
                </svg>
              </sup>
              {{ product.price }} <sup>00</sup>
            </p>
            <p class="ptshirtstrike">
              <s>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="12"
                  height="12"
                  fill="currentColor"
                  class="bi bi-currency-rupee"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z"
                  />
                </svg>
                {{ product.actualPrice }}.00
              </s>
            </p>
            <button
              class="btn btn-primary my-1"
              [routerLink]="'/order-details/' + product._id"
              style="cursor: pointer"
            >
              Order Now
            </button>
          </div>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
