<div class="container-fluid">
    <div class="my-4" style="background-color: #f3f6f7;
    border-radius: 5px;">
        <ul class="py-2" style="display: flex;
        list-style-type: none;
        justify-content: space-between;
        height: 53px;
        padding: 20px;">
            <li style="margin-top: 7px;">Coupone</li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li style="margin-top: 7px;">Most Recent</li>
            <li>
                <p class="rounded-5 py-2 px-3" 
                style="background: linear-gradient(to right, #e27fad 0%, #e9424a 100%);
                    box-shadow: 5px 4px 6px rgb(209, 135, 163);">
                    Business
                </p>
            </li>
            <li style="margin-top: 7px;">Expiration</li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li>
                <p class=" py-2 px-3" 
                style="background: linear-gradient(to right, #e27fad 0%, #e9424a 100%);border-radius: 100%;
                    box-shadow: 5px 4px 6px rgb(209, 135, 163);">
                    +
                </p>
            </li>

        </ul>
    </div>
 

    <!--/***********************************************/-->
    <div class="row justify-content-between my-3 px-3">
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-3 card cardFirst">
            <div class="my-4">
                <ul class="ulcardFirst">
                    <li class="lidiscount">DISCOUNT</li>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                            class="bi bi-gift" viewBox="0 0 16 16">
                            <path
                                d="M3 2.5a2.5 2.5 0 0 1 5 0 2.5 2.5 0 0 1 5 0v.006c0 .07 0 .27-.038.494H15a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a1.5 1.5 0 0 1-1.5 1.5h-11A1.5 1.5 0 0 1 1 14.5V7a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2.038A2.968 2.968 0 0 1 3 2.506V2.5zm1.068.5H7v-.5a1.5 1.5 0 1 0-3 0c0 .085.002.274.045.43a.522.522 0 0 0 .023.07zM9 3h2.932a.56.56 0 0 0 .023-.07c.043-.156.045-.345.045-.43a1.5 1.5 0 0 0-3 0V3zM1 4v2h6V4H1zm8 0v2h6V4H9zm5 3H9v8h4.5a.5.5 0 0 0 .5-.5V7zm-7 8V7H2v7.5a.5.5 0 0 0 .5.5H7z" />
                        </svg>
                    </li>
                </ul>

                <br>
                <ul style=" list-style-type: none;">

                    <li class="licardFirst">
                        $100 OFF
                    </li>
                    <li>
                        ONLY FIRST ORDER ABOVE $ 1000
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-3 card cardSecond">
            <div class="my-4">
                <ul class="ulcardFirst">
                    <li class="lidiscount">CASHBACK</li>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                            class="bi bi-gift" viewBox="0 0 16 16">
                            <path
                                d="M3 2.5a2.5 2.5 0 0 1 5 0 2.5 2.5 0 0 1 5 0v.006c0 .07 0 .27-.038.494H15a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a1.5 1.5 0 0 1-1.5 1.5h-11A1.5 1.5 0 0 1 1 14.5V7a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2.038A2.968 2.968 0 0 1 3 2.506V2.5zm1.068.5H7v-.5a1.5 1.5 0 1 0-3 0c0 .085.002.274.045.43a.522.522 0 0 0 .023.07zM9 3h2.932a.56.56 0 0 0 .023-.07c.043-.156.045-.345.045-.43a1.5 1.5 0 0 0-3 0V3zM1 4v2h6V4H1zm8 0v2h6V4H9zm5 3H9v8h4.5a.5.5 0 0 0 .5-.5V7zm-7 8V7H2v7.5a.5.5 0 0 0 .5.5H7z" />
                        </svg>
                    </li>
                </ul>

                <br>
                <ul style=" list-style-type: none;">

                    <li class="licardFirst">
                        5 TO 30%
                    </li>
                    <li>
                        ANY PURCHASE
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-3 card cardThird">
            <div class="my-4">
                <ul class="ulcardFirst">
                    <li class="lidiscount">VOUCHER</li>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                            class="bi bi-gift" viewBox="0 0 16 16">
                            <path
                                d="M3 2.5a2.5 2.5 0 0 1 5 0 2.5 2.5 0 0 1 5 0v.006c0 .07 0 .27-.038.494H15a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a1.5 1.5 0 0 1-1.5 1.5h-11A1.5 1.5 0 0 1 1 14.5V7a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2.038A2.968 2.968 0 0 1 3 2.506V2.5zm1.068.5H7v-.5a1.5 1.5 0 1 0-3 0c0 .085.002.274.045.43a.522.522 0 0 0 .023.07zM9 3h2.932a.56.56 0 0 0 .023-.07c.043-.156.045-.345.045-.43a1.5 1.5 0 0 0-3 0V3zM1 4v2h6V4H1zm8 0v2h6V4H9zm5 3H9v8h4.5a.5.5 0 0 0 .5-.5V7zm-7 8V7H2v7.5a.5.5 0 0 0 .5.5H7z" />
                        </svg>
                    </li>
                </ul>

                <br>
                <ul style=" list-style-type: none;">

                    <li class="licardFirst">
                        20% OFF
                    </li>
                    <li>
                        PURCHASE ABOVE $500
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--/***********************************************/-->
    <div class="row justify-content-between px-3">
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-3 card cardInfo">

            <ul class="cardDiv">
                <li class="">
                    Expiry
                </li>
                <li>
                    30-11-2025
                </li>
            </ul>
            <ul class="cardDiv">
                <li class="">
                    Coupone Code
                </li>
                <li>
                    MYFIRST
                </li>
            </ul>

        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-3 card cardInfo">

            <ul class="cardDiv">
                <li class="">
                    Expiry
                </li>
                <li>
                    30-11-2025
                </li>
            </ul>
            <ul class="cardDiv">
                <li class="">
                    Coupone Code
                </li>
                <li>
                    5CASHBACK
                </li>
            </ul>

        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-3 card cardInfo">

            <ul class="cardDiv">
                <li class="">
                    Expiry
                </li>
                <li>
                    30-11-2025
                </li>
            </ul>
            <ul class="cardDiv">
                <li class="">
                    Coupone Code
                </li>
                <li>
                    2010FSA45
                </li>
            </ul>

        </div>

    </div>

    <!--/***********************************************/-->
    <div class="row justify-content-between my-3 px-3">
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-3 card cardFourth">
            <div class="my-4">
                <ul class="ulcardFirst">
                    <li class="lidiscount">FULE CARD</li>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                            class="bi bi-gift" viewBox="0 0 16 16">
                            <path
                                d="M3 2.5a2.5 2.5 0 0 1 5 0 2.5 2.5 0 0 1 5 0v.006c0 .07 0 .27-.038.494H15a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a1.5 1.5 0 0 1-1.5 1.5h-11A1.5 1.5 0 0 1 1 14.5V7a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2.038A2.968 2.968 0 0 1 3 2.506V2.5zm1.068.5H7v-.5a1.5 1.5 0 1 0-3 0c0 .085.002.274.045.43a.522.522 0 0 0 .023.07zM9 3h2.932a.56.56 0 0 0 .023-.07c.043-.156.045-.345.045-.43a1.5 1.5 0 0 0-3 0V3zM1 4v2h6V4H1zm8 0v2h6V4H9zm5 3H9v8h4.5a.5.5 0 0 0 .5-.5V7zm-7 8V7H2v7.5a.5.5 0 0 0 .5.5H7z" />
                        </svg>
                    </li>
                </ul>

                <br>
                <ul style=" list-style-type: none;">

                    <li class="licardFirst">
                        10% OFF
                    </li>
                    <li>
                        SHOPE ABOVE $50
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-3 card cardFifth">
            <div class="my-4">
                <ul class="ulcardFirst">
                    <li class="lidiscount">GIFT CARD</li>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                            class="bi bi-gift" viewBox="0 0 16 16">
                            <path
                                d="M3 2.5a2.5 2.5 0 0 1 5 0 2.5 2.5 0 0 1 5 0v.006c0 .07 0 .27-.038.494H15a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a1.5 1.5 0 0 1-1.5 1.5h-11A1.5 1.5 0 0 1 1 14.5V7a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2.038A2.968 2.968 0 0 1 3 2.506V2.5zm1.068.5H7v-.5a1.5 1.5 0 1 0-3 0c0 .085.002.274.045.43a.522.522 0 0 0 .023.07zM9 3h2.932a.56.56 0 0 0 .023-.07c.043-.156.045-.345.045-.43a1.5 1.5 0 0 0-3 0V3zM1 4v2h6V4H1zm8 0v2h6V4H9zm5 3H9v8h4.5a.5.5 0 0 0 .5-.5V7zm-7 8V7H2v7.5a.5.5 0 0 0 .5.5H7z" />
                        </svg>
                    </li>
                </ul>

                <br>
                <ul style=" list-style-type: none;">

                    <li class="licardFirst">
                        20% OFF
                    </li>
                    <li>
                        ANY PURCHASE
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-3 card cardSixth">
            <div class="my-4">
                <ul class="ulcardFirst">
                    <li class="lidiscount">GIFT CARD</li>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                            class="bi bi-gift" viewBox="0 0 16 16">
                            <path
                                d="M3 2.5a2.5 2.5 0 0 1 5 0 2.5 2.5 0 0 1 5 0v.006c0 .07 0 .27-.038.494H15a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a1.5 1.5 0 0 1-1.5 1.5h-11A1.5 1.5 0 0 1 1 14.5V7a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2.038A2.968 2.968 0 0 1 3 2.506V2.5zm1.068.5H7v-.5a1.5 1.5 0 1 0-3 0c0 .085.002.274.045.43a.522.522 0 0 0 .023.07zM9 3h2.932a.56.56 0 0 0 .023-.07c.043-.156.045-.345.045-.43a1.5 1.5 0 0 0-3 0V3zM1 4v2h6V4H1zm8 0v2h6V4H9zm5 3H9v8h4.5a.5.5 0 0 0 .5-.5V7zm-7 8V7H2v7.5a.5.5 0 0 0 .5.5H7z" />
                        </svg>
                    </li>
                </ul>

                <br>
                <ul style=" list-style-type: none;">

                    <li class="licardFirst">
                        30% OFF
                    </li>
                    <li>
                        PURCHASE ABOVE $500
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--/***********************************************/-->
    <div class="row justify-content-between px-3">
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-3 card cardInfo">

            <ul class="cardDiv">
                <li class="">
                    Expiry
                </li>
                <li>
                    31-11-2025
                </li>
            </ul>
            <ul class="cardDiv">
                <li class="">
                    Coupone Code
                </li>
                <li>
                    NOD02156D
                </li>
            </ul>

        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-3 card cardInfo">

            <ul class="cardDiv">
                <li class="">
                    Expiry
                </li>
                <li>
                    1-12-2025
                </li>
            </ul>
            <ul class="cardDiv">
                <li class="">
                    Coupone Code
                </li>
                <li>
                    KIY45685GDA
                </li>
            </ul>

        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-3 card cardInfo">

            <ul class="cardDiv">
                <li class="">
                    Expiry
                </li>
                <li>
                    05-12-2025
                </li>
            </ul>
            <ul class="cardDiv">
                <li class="">
                    Coupone Code
                </li>
                <li>
                    5689GYHF51
                </li>
            </ul>

        </div>

    </div>

</div>