.cardFirst {
    height: 186px;
    width: 325px;
    background: linear-gradient(to right, #831370 0%, #ff99cc 100%);
    color: white;
}

.ulcardFirst {
    list-style-type: none;
    display: flex;
    margin-bottom: 24px;
    font-size: 25px;
}

.lidiscount {
    margin-top: 10px;
    margin-right: 80px;
}

.licardFirst {
    font-size: 33px;
    margin-bottom: 10px;
}

.cardSecond {
    height: 186px;
    width: 325px;
    background: linear-gradient(to right, #0e287c 0%, #99d1ff 100%);
    color: white;
}

.ulcardSecond {
    list-style-type: none;
    display: flex;
    margin-bottom: 24px;
    font-size: 25px;
}

.licashback {
    margin-top: 10px;
    margin-right: 80px;
}

.licardSecond {
    font-size: 33px;
    margin-bottom: 10px;
}

.cardThird {
    height: 186px;
    width: 325px;
    background: linear-gradient(to right, #64dbaa 0%, #b0d1ec 100%);
    color: white;
}

.cardFourth {
    height: 186px;
    width: 325px;
    background: linear-gradient(to right, #dfd07a 0%, #b9702c 100%);
    color: white;
}

.cardFifth {
    height: 186px;
    width: 325px;
    background: linear-gradient(to right, #4dd354 0%, #c8e06e 100%);
    color: white;
}

.cardSixth {
    height: 186px;
    width: 325px;
    background: linear-gradient(to right, #ca4784 0%, #da0000 100%);
    color: white;
}

.cardDiv {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    margin-left: -31px;
    margin-bottom: 8px;
    margin-top: 8px;
}