<div class="d-flex justify-content-center" style="margin: 50px">
  <div class="mx-3 reg-div">
    <mat-card>
      <div class="container-fluid">
        <h1 class="my-3 mx-2 px-3 bg-light border-light rounded-2">
          Registration
        </h1>

        <div class="container-fluid">
          <form
            [formGroup]="registration"
            class="mx-3"
          >
            <div class="example-full-width">
              <mat-label>Name:</mat-label>
              <input
                class="form-control"
                type="text"
                matInput
                formControlName="name"
                placeholder="Your Name"
              />

              <div class="mt-1">
                <mat-error
                  *ngIf="
                    registration.get('name')?.hasError('required') &&
                    registration.get('name')?.touched
                  "
                >
                  Name is required.
                </mat-error>
              </div>
            </div>

            <div class="example-full-width">
              <mat-label>Email:</mat-label>
              <input
                class="form-control"
                type="email"
                matInput
                formControlName="email"
                placeholder="Email"
              />
              <div class="mt-1">
                <mat-error
                  *ngIf="
                    registration.get('email')?.hasError('required') &&
                    registration.get('email')?.touched
                  "
                >
                  Email is required.
                </mat-error>
                <mat-error
                  *ngIf="
                    registration.get('email')?.hasError('email') &&
                    registration.get('email')?.touched
                  "
                >
                  Please enter a valid email address.
                </mat-error>
              </div>
            </div>

            <div class="example-full-width">
              <mat-label>Password:</mat-label>
              <input
                class="form-control"
                type="password"
                matInput
                formControlName="password"
                placeholder="Password"
              />
              <div class="mt-1">
                <mat-error
                  *ngIf="
                    registration.get('password')?.hasError('required') &&
                    registration.get('password')?.touched
                  "
                >
                  Password is required.
                </mat-error>
                <mat-error
                  *ngIf="
                    registration.get('password')?.hasError('password') &&
                    registration.get('password')?.touched
                  "
                >
                  Please enter a valid Password.
                </mat-error>
              </div>
            </div>
            <div class="example-full-width">
              <mat-label>Confirm Password:</mat-label>
              <input
                class="form-control"
                type="password"
                matInput
                formControlName="confirmPassword"
                placeholder="Confirm Password"
              />
              <div class="mt-1">
                <mat-error
                  *ngIf="
                    registration.get('confirmPassword')?.hasError('required') &&
                    registration.get('confirmPassword')?.touched
                  "
                >
                  Password is required.
                </mat-error>
              </div>
            </div>

            <div class="example-full-width">
              <mat-label>Phone:</mat-label>
              <input
                class="form-control"
                type="tel"
                minlength="10"
                maxlength="10"
                matInput
                formControlName="phone"
                placeholder="Phone"
              />
              <div class="mt-1">
                <mat-error
                  *ngIf="
                    registration.get('phone')?.hasError('required') &&
                    registration.get('phone')?.touched
                  "
                >
                  Phone number is required.
                </mat-error>
              </div>
            </div>
            <div class="example-full-width">
              <mat-label>Location:</mat-label>
              <input
                class="form-control"
                type="text"
                matInput
                formControlName="location"
                placeholder="Location"
              />
              <div class="mt-1">
                <mat-error
                  *ngIf="
                    registration.get('location')?.hasError('required') &&
                    registration.get('location')?.touched
                  "
                >
                  Location number is required.
                </mat-error>
              </div>
            </div>
            <div class="example-full-width">
              <mat-label>Image:</mat-label>
              <input
                class="form-control"
                type="file"
                matInput
                formControlName="image"
                (change)="selectImage($event)"
              />
            </div>
            <div class="d-flex justify-content-center mb-3">
              <button
                class="btn btn-primary mx-3"
                type="button"
                (click)="onSubmit()"
                [disabled]="registration.invalid"
              >
                Submit
              </button>
              <button
                type="button"
                (click)="reset()"
                class="btn btn-danger mx-1"
              >
                Discard
              </button>
            </div>
          </form>
        </div>
      </div>
    </mat-card>
  </div>
</div>
